@keyframes marquee-x {
	from {
		transform: translateX(var(--scroll-start));
	}
	to {
		transform: translateX(var(--scroll-end));
	}
}

[data-marquee] {
	@apply flex overflow-hidden select-none gap-(--gap);

	/* [cite] https://codepen.io/hexagoncircle/pen/wvmjomb */
	--gap: attr(data-marquee-gap rem, 1rem);
	--duration: attr(data-marquee-duration s, 10s);
	--scroll-start: 0;
	--scroll-end: calc(-100% - var(--gap));
	--d: attr(data-marquee-fade rem, 0.25rem);

	& > section {
		@apply flex items-center justify-around gap-(--gap) shrink-1;
		/*padding-inline: var(--gap);*/
		animation: marquee-x var(--duration) linear infinite;
	}

	@media (prefers-reduced-motion: reduce) {
		& > section {
			animation-play-state: paused;
		}
	}

	&:hover > section {
		animation-play-state: paused;
	}

	&[data-marquee-fade] {
		mask: linear-gradient(
				to right,
				transparent,
				black var(--d),
				black calc(100% - var(--d)),
				transparent 100%
			)
			exclude no-repeat;
	}
}
