@keyframes marquee-x {
	0% {
		transform: translateX(var(--scroll-start));
	}
	100% {
		transform: translateX(var(--scroll-end));
	}
}

[data-marquee] {
	@apply flex overflow-hidden select-none gap-(--gap);

	/* [cite] https://codepen.io/hexagoncircle/pen/wvmjomb */
	--scroll-start: 0%;
	--scroll-end: calc(-100% - var(--gap));
	--d: attr(data-marquee-fade rem, 0.25rem);

	& > section {
		@apply flex items-center justify-around gap-(--gap) shrink-1;
		/*padding-inline: var(--gap);*/
		animation-name: marquee-x;
		animation-duration: inherit;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}

	@media (prefers-reduced-motion: reduce) {
		& > section {
			animation-play-state: paused;
		}
	}

	&:hover > section {
		animation-play-state: paused;
	}

	&[data-marquee-fade] {
		mask: linear-gradient(
				to right,
				transparent,
				black var(--d),
				black calc(100% - var(--d)),
				transparent 100%
			)
			exclude no-repeat;
	}
}
